@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format(".ttf");
}
:root{
    --primary-color-orange:hsl(35, 77%, 62%);
    --primary-color-red:hsl(5, 85%, 63%);
    --off-white:hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--off-white);
}
.hidden{
    opacity: 0;
}
.menu-mobile{
    width: 20%;
    height: 200px;
    background-color: var(--Grayish-blue);
    position: absolute;
    top:90px;
    right: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-mobile ul li{
    list-style: none;
    gap: 20px;
    margin: 20px 0;
}
.menu-mobile ul li a{
    text-decoration: none;
    font-size: 15px;
    color: var(--Dark-grayish-blue);
}
.menu-mobile ul li a:hover{
    color:var(--primary-color-red);
}
nav{
    background-color: var(--off-white);
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    scroll-behavior: smooth;
    margin: 10px 0;
    padding: 0 120px;
}
nav .logo{
    width: 150px;
    height: 100%;
}
nav .logo img{
    width: 50%;
    height: 50%;
    position: relative;
    left: 0;
    top: 40%;
}
nav .navigationBar{
    display: flex;
    width: 700px;
}
nav .navigationBar .menuIcon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 8%;
    right: 120px;
    cursor: pointer;
    visibility: hidden;
}
nav .navigationBar ul{
    display: flex;
    justify-content: center;
    gap: 70px;
    top:60%;
    position: relative;
}
nav .navigationBar li{
    list-style: none;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--Dark-grayish-blue);
}
nav .navigationBar a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}
nav .navigationBar li:hover, nav .navigationBar a:hover{
    color:var(--primary-color-red);
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.navigationBar a:active{
    color: var(--primary-color-orange);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding:20px 100px;

}
.container .content1{
    width: 100%;
    height: 550px;
    display: flex;
    gap: 2%;
}
.web3picture{
    width: 76%;
    height: 100%;
}
.image-web3{
    width: 100%;
    height: 300px;
    padding: 0 0 0 40px;
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.web3picture .image-web3:hover{
    transform: scale(1.07);
    transition: 0.4s ease-in-out;
}
.web3content{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-between;
}
.web3content1{
    width: 44%;
    height: 100%;
}
.web3content2{
    width: 49%;
    height: 100%;
}
.web3content1:hover, .web3content2:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}
.web3content1 h1{
    font-size: 45px;
    font-weight: 800;
    padding: 50px 20px 0 40px;
    letter-spacing: 1px;
    line-height: 50px;
}
.web3content2 p{
    font-size: 16px;
    font-weight: 500;
    padding: 50px 20px 0 20px;
    line-height: 25px;
    letter-spacing: 2.4px;
    color: var(--Dark-grayish-blue);
}
.web3content2 button{
    width: 130px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    background-color: var(--primary-color-red);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--off-white);
    cursor: pointer;
}
.web3content2 button:hover{
    background-color:var(--Very-dark-blue);
    transform: scale(1.1);
    transition: all 0.5s ease; 
}
.container .content1 .newIconArea{
    width: 41%;
    height: 90%;
    background-color: var(--Very-dark-blue);
}
.newIconArea:hover{
    transform: scale(1.08);
    transition: all 0.5s ease; 
}
.newIconArea h1{
    font-size: 25px;
    font-weight: 700;
    color: var(--primary-color-orange);
    padding: 40px;
}
.newIconArea h3{
    font-size: 18px;
    color: var(--off-white);
    margin: 20px 40px 20px 40px;
    letter-spacing: 2.5px;
    padding-right: 20px;
}
.newIconArea p{
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
}
.newIconArea .first-content{
    margin-top: 10px 0 10px 0;
}
.newIconArea .first-content p{
    margin: 10px 0 20px 0;
}
.newIconArea .second-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.newIconArea .second-content p{
    margin: 15px 0 0 0;
}
.second-content::before, .second-content::after{
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: var(--Dark-grayish-blue);
    margin: 20px 0;
}
.newIconArea .third-content p{
    margin: 10px 0 0 0;
}
.content2 {
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(3, 150px 340px);
    margin-top: 10px;
    padding-left: 25px;
    gap: 10px;
}
.content2 img{
    width: 100%;
    height: 170px;
}
.content2 img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease; 
}
.content2 h2{
    font-size: 30px;
    font-weight: 700;
    padding: 10px 10px 5px 20px;
    color: var(--Grayish-blue);
    letter-spacing: 2px;
}
.content2 h3{
    font-size: 22px;
    font-weight: 600;
    padding: 5px 20px;
    letter-spacing: 1px;
}
.content2 p{
    font-size: 17px;
    font-weight: 400;
    padding: 10px 0 5px 20px;
    color: var(--Dark-grayish-blue);
    line-height: 25px;
    letter-spacing: 2px;
}
.content2-item2:hover, .content2-item4:hover, .content2-item6:hover{
    transform: scale(1.1);
    transition: all 0.5s ease; 
}
@media screen and (min-width: 300px) and (max-width: 900px){
    body{
        width: 100%;
        min-height: 1000px !important;
        overflow: auto;
    }
    nav{
        width: 100%;
        padding: 0 20px;
    }
    nav .logo{
       display: block;
        
    }
    nav ul{
        display: none;
    }
    nav ul li a{
        display: none;
    }
    nav .navigationBar .menuIcon{
        display: block;
        visibility: visible;
        width: 30px;
        height: 20px;
        right: 20px;
        top: 65px;
    }
    nav .navigationBar .menuIcon img{
        width: 100%;
        height: 100%;
    }
    .container{
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding:0 10px;
        margin: 0;
    }
    .container .content1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 500px;
        gap: 0;
    }
    .content1 .web3picture{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: inherit;
        gap: 0;
    }
    .content1 .web3picture .image-web3{
        background-image: url("./assets/images/image-web-3-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }
    .content1 .web3picture .web3content{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        padding: 0;
    }
    .web3content1{
        width: 100%;
        height: 150px;
        margin-top: 15px;
        padding-right: 100px;
    }
    .web3content2{
        width: 100%;
        height: 150px;
        padding-right: 100px;
    }
    .web3content1 h1{
        font-size: 30px;
        font-weight: 800;
        padding: 0;
        line-height: 35px;
    }
    .web3content2 p{
        font-size: 13px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 2.4px;
        margin-top: 10px;
        padding: 0;
    }
    .web3content2 button{
        margin-left: 0;
        margin-top: 10px;
    }
    .web3picture .image-web3:hover, .web3content1:hover, .web3content2:hover,.web3content2 button:hover,
    .newIconArea:hover,.content2 img:hover,.content2-item2:hover, .content2-item4:hover, .content2-item6:hover{
        transform: none;
        transition: none;
    }
    .container .content1 .newIconArea{
        width: 100%;
        margin-top: 30px;
    }
    .content2{
        margin-top: 500px;
        width: 100%;
        grid-template-columns: 23% 75%;
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
        padding-left: 0;
        overflow: auto;
    }

}
/* .content2 {
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(3, 150px 340px);
    margin-top: 10px;
    padding-left: 25px;
    gap: 10px;
} */